---
import Navigation from './Navigation.astro';
import MenuButton from './MenuButton.astro';
import ThemeToggle from './ThemeToggle.astro';
---
<header>
    <nav>
        <div>
            <ThemeToggle />
            <MenuButton />
        </div>
        <Navigation />
    </nav>
</header>

<style>
  div {
    display: flex;
    justify-content: space-between;
  }
</style>
