---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>RH - {pageTitle}</title>
	</head>

	<style>
	    body {
			min-height: 100dvh;
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: auto
								1fr
								auto;
			grid-template-areas: 'base-layout-header'
			                     'base-layout-main'
								 'base-layout-footer';

			@media screen and (min-width: 636px) {
			    grid-template-columns: 1fr 120ch 1fr;
			}
		}

		.base-layout-header {
		    grid-area: 'base-layout-header';
			border: 1px solid lime;
			position: sticky;
			top: 0;
			z-index: 10;
		}

		.base-layout-main {
		    border: 1px solid cornflowerblue;
		    grid-area: 'base-layout-main';
		}

		.base-layout-footer {
		    border: 1px solid deeppink;
			grid-area: 'base-layout-footer';
		}
	</style>

	<body>
	    <div class="base-layout-header">
	        <Header />
		</div>

		<main class="base-layout-main">
		    <h1>{pageTitle}</h1>
			<slot />
		</main>

		<div class='base-layout-footer'>
		    <Footer />
		</div>
		<script>
		  import "../scripts/menu";
		</script>
	</body>
</html>
